# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
/coverage/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# iOS
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/local.properties
*.apk
*.aab

# Example app
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/build/
example/ios/Pods/
example/ios/Podfile.lock
example/ios/.symlinks/
example/ios/Flutter/ephemeral/
example/ios/Flutter/Flutter.framework
example/ios/Flutter/Generated.xcconfig
example/android/.gradle/
example/android/local.properties
example/pubspec.lock
